{% extends 'blogu/base2.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block body_block %}
<script src="{% static "ckeditor/ckeditor.js" %}"></script>

{% if category %}
<form role="form" id="blog_form" method = "post" action = '/blogu/{{ category.slug }}/add_blog/' enctype = "multipart/form-data">
        {% csrf_token %}
        <textarea name="blog_title" cols="90" rows="2"></textarea><br/>
        <textarea id="blog_area" name="blog_content"></textarea>
    <script type="text/javascript">
    CKEDITOR.replace( 'blog_area' );
    </script>
        <button class = "btn btn-primary" type = "submit" name ="submit">Add Blog</button>
    </form>

    {% else %}
    <h2>Please first select the category from the side bar</h2>
    {% endif %}
{% endblock %}
