{% extends 'blogu/base.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block body_block %}		
		{% if category %}
		<form role="form" id="blog_form" method = "post" action = '/blogu/{{ category.slug }}/add_blog/' enctype = "multipart/form-data">
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <br/>
            <button class = "btn btn-primary" type = "submit" name ="submit">Add Blog</button>
        </form>
        
        {% else %}
        <hw>Please first select the category from the side bar</h2>
        {% endif %}
{% endblock %}