{% extends 'blogu/base2.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block body_block %}
<style type="text/css" rel="stylesheet">
body
{
    text-align: center;
    display:-webkit-box;
    -webkit-box-pack:center;
}
form[role]
{
    margin-top: 20px;
}
textarea[name="blog_title"]
{
    margin: 20px;
    font-size: 20px;
    border:none;
    resize:none;
}
#cke_blog_area
{
    width: 800px;
    height:400px;
    margin-bottom: 20px;
}
#blog_area_div
{
    text-align: center;
    display: -moz-box;
}
#id_title
{
    margin:20px;
}
</style>
<!--form>
    {{ myform.media }}
    {{ myform.as_p }}
    <input type="submit"/>
</form-->

{% if category %}
<form role="form" id="blog_form" method = "post" action = '/blogu/{{ category.slug }}/add_blog/' enctype = "multipart/form-data">
    <div id="blog_area_div">
        {% csrf_token %}
        {{ myform.media }}
        {{ myform.as_p }}
    </div>
        <button class = "btn btn-primary" type = "submit" name ="submit">Add Blog</button>
</form>

{% else %}
<select id ="select-category" name="dropdown">
    <option value="none">--Select--</option>
    {% for category in category_list %}
  <option value="{{ category.slug }}">{{ category.name }}</option>
    {% endfor %}
</select>

<form role="form" id="blog_form2" method = "post" action = '/blogu/{{ category.slug }}/add_blog/' enctype = "multipart/form-data">
    <div id="blog_area_div">
    {% csrf_token %}
    {{ myform.media }}
    {{ myform.title }}<br>
    {{ myform.blog_content }}
    </div>
    <button class = "btn btn-primary" type = "submit" name ="submit">Add Blog</button>
</form>

{% endif %}
{% endblock %}
