{% extends 'blogu/base2.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block body_block %}
    <script src="{% static "ckeditor/ckeditor.js" %}"></script>
<style type="text/css" rel="stylesheet">
body
{
    text-align: center;
    display: -webkit-box;
    -webkit-box-pack:center;
    -moz-box-pack:center;
}
form{
    margin-top: 20px;
}
textarea[name="blog_title"]
{
    margin: 20px;
    font-size: 20px;
    border:none;
    resize:none;
}
#cke_blog_area
{
    width: 800px;
    height:400px;
    margin-bottom: 20px;
}
#blog_area_div
{
    text-align: center;
}
</style>
{% if category %}
<form role="form" id="blog_form" method = "post" action = '/blogu/{{ category.slug }}/add_blog/' enctype = "multipart/form-data">
        {% csrf_token %}
        <textarea name="blog_title" cols="60" rows="1" placeholder="Title..."></textarea><br/>
        <div id="blog_area_div">
        <textarea id="blog_area" name="blog_content" cols="60"></textarea>
    </div>
    <script type="text/javascript">
    CKEDITOR.replace( 'blog_area' );
    </script>
        <button class = "btn btn-primary" type = "submit" name ="submit">Add Blog</button>
    </form>

    {% else %}
    <h2>Please first select the category from the side bar</h2>
    {% endif %}
{% endblock %}
