{% extends 'blogu/base2.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block body_block %}
<style type="text/css" rel="stylesheet">
::-webkit-scrollbar,-moz-scrollbar,-o-scrollbar,scrollbar { 
    display: none; 
}
body
{
    text-align: center;
    padding: 80px;
}
#select-category,#id_title
{
    margin: 20px;
    border:none;
    color:white;
    font-size: 14px;
    background:#337ab7;
    padding: 2px;
    -webkit-border-radius:3px;
}
#id_title
{
    font-size:20px;
    border:none;
    padding: 5px;
    background: white;
    color:black;
}
#id_blog_content
{
    padding: 7px;
    border:none;
    font-size: 16px;
    resize:none;
}
</style>
<!--form>
    {{ myform.media }}
    {{ myform.as_p }}
    <input type="submit"/>
</form-->

{% if category %}
<form role="form" id="blog_form" method = "post" action = '/blogu/{{ category.slug }}/add_blog/' enctype = "multipart/form-data">
    <div id="blog_area_div">
        {% csrf_token %}
        {{ myform.media }}
        {{ myform.title }}<br>
        {{ myform.blog_content }}
    </div>
        <button class = "btn btn-primary" type = "submit" name ="submit">DONE!</button>
</form>

{% else %}
<strong>Select a category :</strong><select required id="select-category" name="dropdown">
    <option value="">-- Select a category --</option>
    {% for category in category_list %}
  <option value="{{ category.slug }}">{{ category.name }}</option>
    {% endfor %}
</select>

<form role="form" id="blog_form2" method = "post" action = '/blogu/{{ category.slug }}/add_blog/' enctype = "multipart/form-data">
    <div id="blog_area_div">
    {% csrf_token %}
    {{ myform.media }}
    {{ myform.title }}<br>
    {{ myform.blog_content }}
    </div>
    <button class= "btn btn-primary" type = "submit" name ="submit">Done!</button>
</form>
<script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
<script type="text/javascript">
$('#id_blog_content').html("{{ quick_blog_text }}");
$('.btn-primary').click(function(event){
    if($('#select-category').val()=="")
    {
        event.preventDefault();
        alert('Please select a category');
    }
    else if($('#id_title').val()=="")
    {
        event.preventDefault();
        alert('Please give a title');
    }
    /*else if($('.cke_contents_ltr>p').html()=="")
    {
        event.preventDefault();
        alert('Please add content');
    }*/
    else
    {
        $("#blog_form2").submit();
    }
});
</script>
{% endif %}
{% endblock %}
