{% load staticfiles %}
{% load blogu_extras %}
<!DOCTYPE html>
<html>
    <head lang="en">
	    <meta charset="UTF-8">
		<link rel="icon" href="{% static "images/pd_icon.jpeg" %}">
	    <title>Blogu - {% block title %}{% endblock %}</title>
		<link href= "{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "css/dashboard.css" %}" rel="stylesheet">
		<link href="{% static "css/additional.css" %}" rel="stylesheet">
	</head>
	
	<body>
	    <div class ="navbar navbar-inverse navbar-fixed-top" role = "navigation">
		    <div class="container-fluid">
			    <div class="nav-header">
				    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					    <span class ="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" id="navbar-brand-id" href="/blogu/">Blogu</a>
				</div>
				<div class="navbar-collapse collapse">
				    <u1 class="nav navbar-nav navbar-right">
				    	    {% if user.is_authenticated %}
			                    <li><a href="{% url 'auth_logout' %}?next=/blogu/">Logout </a></li>
				                <li><a href="{% url 'profile' %}">Profile</a></li>
			                {% else %}
			                    <li><a href="{% url 'auth_login' %}">SignIn/SignUp</a></li>
			                {% endif %}
			                {% if category %}
				    	    <li><a href="/blogu/{{ category.slug }}/add_blog/"> Write a blog </a></li>
				    	    {% else %}
				    	    <li><a href="/blogu/none/add_blog/"> Write a blog </a></li>
				    	    {% endif %}
				    </u1>
		         </div>
		    </div>
	    </div>
		<div class="container-fluid">
		    <div class="col-sm-3 col-md-2 sidebar"style="overflow-y: hidden;">
			<u1 class="nav nav-list">
			    <li class="nav-header" style="font-family:tahoma;font-weight:bold;">Find a Category</li>
				<form>
				<label></label>
				<li><input class="search-query span10" type="text" name="suggestion" value="" id="suggestion_id"/></li>
				</form>
			</u1>
			<div id="cats"> 
			    {% block side_block1 %}
			    {% get_category_list  category%}
				{% endblock %}
			</div>
			</div>
		</div>
		    <div class="col-sm-6 col-sm-offset-3 col-md-offset-2 col-md-8 main">
			    <div>
				    {% block body_block %}
					{% endblock %}
				</div>
			</div>
			<div class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10 sidebar">
				<u1 class="nav nav-list">
			    <li class="nav-header" style="font-family:tahoma;font-weight:bold;">Featured Blogs</li>
			    </u1>
				<div id='featured_blogs'>
				{% block side_block2 %}
				{% get_blogs_list %}
                {% endblock %}
                </div>
			</div> 
		</div>
		<script src="{% static "js/bootstrap.js" %}"> </script>
		<script src="{% static "js/bootstrap.min.js" %}"> </script>
		<script src="{% static "js/npm.js" %}"></script>
		<script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
		<script src="{% static "js/blogu-jquery.js" %}"></script>
	</body>
</html>