{% extends "blogu/base2.html" %}
{% load staticfiles %}
{% block body_block %}
<link href="{% static "css/index.css" %}" rel="stylesheet">
<div style="padding-top:50px;">
<p style="text-align:left;font-family:'Montserrat',tahoma;color:rgb(75,75,75);font-size:20px;letter-spacing:1px;font-weight:700;">{{ blog.category }}</p>
<h1>{{ blog.title }}</h1>
		{% if blog.image %}
        <br />
		    <img src="{{ blog.image.url }}" width="400px"/><br />
		    <i style="color:gray;">"{{ blog.image_description }}"</i><br /><br />
		{% endif %}
{% if b_time %}
<span style='float:right;color:gray;'>{{ b_time }}</span>
{% endif %}
<p class='text-left' style="color:gray;"> <img src="{{ blog.written_by.userprofile.picture.url }}" class="pro_pic"/>
-{{ blog.written_by }}</p>
<blog class="blog_text">{{ blog.blog_content|safe }}</blog>
<br/><br/>
<span id="{{ blog.id }}" style="color:black;font-weight:bold;">{{ blog.likes }}</span><font style="color:gray;"> like(s)</font>
{% if user.is_authenticated %}
{% if show %}
<button id="blog_like" data-blogid="{{ blog.id }}" class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-thumbs-up"> </span>
                        Like</button>
                    {% endif %}
                    {% endif %},&nbsp
                    <font style="color:black;font-weight:bold;">
                {{ comments_number }}
            </font><font style="color:gray;">comment(s)</font>&nbsp
            {% if user.is_authenticated %}
                
    <a id="share" href="/blogu/post_to_facebook/{{ blog.id }}/"> <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Share</a>

{% else %}
    <a id="share" href="{% url 'socialauth_begin' 'facebook' %}"> <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Share</a>
{% endif %}
<div>
	<div class="panel">
        <br />
                    <div class="panel-heading">
                    <h3 class="panel-title">Commments:</h3>
                    <div class="panel-body">
                        <div class="list-group">
                            <div id="wrapper">
                            {% if comments %}
                            {% for comment,comment_by_name in comments %}
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading"><img src="{{ comment.comment_by.userprofile.picture.url }}" class="pro_pic_2"/> {{ comment_by_name }}</h4>
									<p class="list-group-item-text">{{ comment.comment_text }}</p>
									<p style="color:gray;"><span id="{{ comment.id }}" style="color:black">{{ comment.likes }}</span> like(s)</p>
                                    {% if user.is_authenticated %}
                                    {% for key,value in show_comment.items %}
                                    {% if key == comment.id and value == "yes" %}
                                    <button id="comment {{ comment.id }}" data-blogid="{{ comment.id }}" class="btn btn-primary comment-lyk" type="button">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    Like</button>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                            <!--<div class="list-group-item" id="new_comment">
                                    <h4 class="list-group-item-heading" id="new_comment_by" ></h4>
                                    <p class="list-group-item-text" id="new_comment_text" ></p><br />
                                    <p style="color:gray;"><font color="black" id="new_comment_like"></font> like(s)</p>
                            </div>-->
                            {% if user.is_authenticated %}
                            <div class="list-group">
                                <h4 class="list-group-item-heading">{{ up.name }}</h4>
                                <p class="list-group-item-text">
                                    <textarea id="comment_text" cols="75" rows="4" style="resize:none;"></textarea><br />
                                </p>
                                <button id="comment" type="button" data-blogid="{{ blog.id }}" data-uid="{{ u.id }}" data-uname="{{ up.name }}" class="btn btn-primary">Comment</button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>

{% endblock %}
