{% if blogs %}
{% load staticfiles %}
    <u1 class="nav nav-sidebar">
	{% for b in blogs %}
	    <li style="margin:10px;background:rgb(234,237,247);padding:10px;-webkit-border-radius:10px 10px 10px 0;-ms-border-radius:10px 10px 10px 0;-o-border-radius:10px 10px 10px 0;-moz-border-radius:10px 10px 10px 0;border-radius:10px 10px 10px 0;"><a href="{% url 'blog' b.slug %}" style="margin:0;padding:0;color:black;">{{ b.title }}</a>{{ b.written_by }}</li>
	{% endfor %}
{% else %}
    <li><strong>There are no blogs present</strong></li>
	</u1>
{% endif %}
