<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
u1.nav.nav-sidebar>li.active>a:link
{
	font-weight: bold;
	font-family: 'Montserrat',arial;
	font-weight: 700;
	background:rgb(34,47,83);
	border-right-color:rgb(34,47,83);
	-webkit-border-radius:7px 0 0 7px;
	-moz-border-radius:7px 0 0 7px;
	-ms-border-radius:7px 0 0 7px;
	-o-border-radius:7px 0 0 7px;
	border-radius:7px 0 0 7px;
}
u1.nav.nav-sidebar>li.active>a:hover
{
	font-weight: bold;
	background:rgb(34,47,83);
	border-right-color:rgb(34,47,83);
}
u1.nav.nav-sidebar>li.active>a:visited
{
	background:rgb(34,47,83);
	border-right-color:rgb(34,47,83);
}
u1.nav.nav-sidebar>li.inactive>a:link
{
	color:rgb(245,245,245);
	font-family: 'Montserrat',arial;
	font-weight: 400;
	background:rgb(56,77,137);
	padding-right: 15px;
	border-right: 5px solid rgb(128,147,202);
	margin:10px 0 10px 0;
	-webkit-border-radius:7px 0 0 7px;
	-moz-border-radius:7px 0 0 7px;
	-ms-border-radius:7px 0 0 7px;
	-o-border-radius:7px 0 0 7px;
	border-radius:7px 0 0 7px;
}
u1.nav.nav-sidebar>li.inactive>a:visited
{
	color:rgb(245,245,245);
	background: rgb(56,77,137);
	padding-right: 15px;
	border-right: 5px solid rgb(128,147,202);
}
u1.nav.nav-sidebar>li.inactive>a:hover
{
	border-right:5px solid rgb(34,47,83);
	background: rgb(56,77,137);
}
</style>
<u1 class="nav nav-sidebar">
{% if cats %}
    {% for cat in cats %}
	    <li class="inactive"><a href="{% url 'category' cat.slug %}">{{ cat.name }}</a></li>
	{% endfor %}
{% else %}
    <li> No categories present </li>
{% endif %}
</u1>