{% extends 'blogu/base.html' %}
{% load staticfiles %}
{% block title %} {{ category_name }} {% endblock %}
{% block body_block %}
<link href="{% static "css/index.css" %}" rel="stylesheet">
    <h2>{{ category_name }}</h2>
		<p>
		<strong id="category_like_count">{{ category.likes }} </strong> people like this category
		{% if user.is_authenticated %}
		{% if show_cat %}
		     <button id="category_like" data-catid="{{ category.id }}" class="btn btn-primary" type="button">
			 <span class="glyphicon glyphicon-thumbs-up"> </span>
			 Like</button>
		{% endif %}
	    {% endif %}
		</p>
		<br/>
		<br/>
		<div id="blog">
		{% if category %}
		    {% if zipped_data %}
			<u1>
			    {% for blog,b_time,show in zipped_data %}
				    <span style='float:right;color:gray;'>{{ b_time }}</span>
                    <h3>
	    	        <a href="{% url 'blog' blog.slug %}" class="blog_title">{{ blog.title }}</a>
                    </h3>
                    <p class='text-left' style="color:gray;"> &nbsp <img src="{{ blog.written_by.userprofile.picture.url }}" class="pro_pic"/> -<a id="written_by" href="/{{ blog.written_by }}/">{{ blog.written_by }}</a></p>
                    <div class="text_div active_text"><p class="blog_text">{{ blog.text|safe }}</p></div>
                    <span id="{{ blog.id }}" style="color:black;font-weight:bold;">{{ blog.likes }}</span>
                    <font style="color:gray;"> like(s)</font>
                    {% if show %}
                    {% if user.is_authenticated %}
		                <button id="blog_like" data-blogid="{{ blog.id }}" class="btn btn-primary" type="button">
			            <span class="glyphicon glyphicon-thumbs-up"> </span>
			            Like</button>
	                {% endif %}
	                {% endif %},&nbsp
	                <font style="color:black;font-weight:bold;">
                {% for key,value in comments_number.items %}
                {% if key == blog.title %}
                {{ value }}
                {% endif %}
                {% endfor %}
            </font><font style="color:gray;">comment(s)</font>
                    &nbsp
                    {% if user.is_authenticated %}
                
    <a id="share" href="/blogu/post_to_facebook/{{ blog.id }}/"> <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Share</a>

{% else %}
    <a id="share" href="{% url 'socialauth_begin' 'facebook' %}"> <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Share</a>
{% endif %}
                    <hr noshade size=9>
                {% endfor %}
			</u1>
		    {% else %}
		        <strong>No blogs currently in category</strong>
	        {% endif %}
		</div>
			<br/>

		{% else %}
	        The specified category {{ category_name }} does not exist!
	    {% endif %}

{% endblock %}
