{% extends 'blogu/base2.html' %}
{% load staticfiles %}
{% block body_block %}
<br/>
<br/>
<style type="text/css">
body
{
	text-align: center;
  background: rgb(210,217,236);
  padding: 80px;
}
img[style]
{
	-webkit-border-radius:50% 50%;
  -moz-border-radius:50% 50%;
  -ms-border-radius:50% 50%;
  border-radius:50% 50%;
}
#name
{
  font-size: 24px;
  font-weight: bold;
  color:rgb(60,60,60);
}
#tag
{
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  /*font-family: ;*/
}
#wrapper
{
  display: -webkit-box;
  -webkit-box-orient:horizontal;
  -webkit-box-pack:center;
  -webkit-box-flex:1;
  display: -moz-box;
  -moz-box-orient:horizontal;
  -moz-box-pack:center;
  -moz-box-flex:1;
  display: -ms-box;
  -ms-box-orient:horizontal;
  -ms-box-pack:center;
  -ms-box-flex:1;
  margin-bottom: 40px;
}
#nav>ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}
#ata
{
  margin: 0;
  padding: 0;
  position: relative;
  width:700px;
  text-align: center;
  background: white;
}
#nav>ul>li
{
  margin: 5px 0 10px 5px;
  font-size:20px;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  color:white;
  background: rgb(70,94,170);
  -webkit-border-radius:5px 0 0 5px;
  -moz-border-radius:5px 0 0 5px;
  -ms-border-radius:5px 0 0 5px;
  border-radius:5px 0 0 5px;
}
#nav>ul>li:first-of-type
{
  background:white; 
  color:rgb(28,56,110);
}
#nav>ul>li:hover
{
  cursor:pointer;
}
div[id^="d"]
{
  padding: 20px;
  position: absolute;
  width:100%;
  text-align: center;
  background:white;
  -webkit-border-radius:0 10px 10px 0;
  -ms-border-radius:0 10px 10px 0;
  -moz-border-radius:0 10px 10px 0;
  -o-border-radius:0 10px 10px 0;
  visibility: hidden;
}
div[id^="d"]:last-child
{
  visibility: visible;
}
.data
{
  font-size: 16px;
  font-weight: bold;
}
#logout_link:link
{
  font-weight: bold;
  background: transparent;
}
#logout_link:hover
{
  text-decoration: none;
}
#settings_list>li
{
  list-style: none;
  padding: 10px;
  text-align: left;
}
#edit_language
{
  color: #337ab7;
  font-weight: bold;
}
#edit_language:hover
{
  cursor: pointer;
  color: #23527c;
}
.language1
{
  padding: 0;
  background: rgb(200,200,200);
  -webkit-border-radius:0 5px 5px 0;
  -moz-border-radius:0 5px 5px 0;
  border-radius:0 5px 5px 0;
  height:0;
  overflow: hidden;
}
.language2
{
  padding: 10px;
  background: rgb(200,200,200);
  -webkit-border-radius:0 5px 5px 0;
  -moz-border-radius:0 5px 5px 0;
  border-radius:0 5px 5px 0;
  height:auto;
}
</style>
{% if userprofile.picture %}
<img style="height:150px;width:150px;" src="{{ userprofile.picture.url }}"/>
{% endif %}<br/><br />
<span id="name">{{ userprofile.name }}</span><br>
<span id="tag">{{ userprofile.profile_tag_line }}</span><br/><br />
<div id="wrapper">
<div id="nav">
<ul>
<li data-id="5">About</li>
<li data-id="4">Following</li>
<li data-id="3">Followers</li>
<li data-id="2">Tags</li>
<li data-id="1">Settings</li>
</ul>
</div>
<div id="ata">
<div id="d1">
  <ul id="settings_list">
  <li><a id="logout_link" href="#"><span class="glyphicon glyphicon-share"></span>&nbsp Account</a></li>
  <li><a id="logout_link" href="#"><span class="glyphicon glyphicon-share"></span>&nbsp Privacy</a></li>
  <li><a id="logout_link" href="#"><span class="glyphicon glyphicon-share"></span>&nbsp Notification</a></li>
  <li><span id="edit_language"><span class="glyphicon glyphicon-share"></span>&nbsp Language</span></li>
  <li><a id="logout_link" href="{% url 'logout' %}"><span class="glyphicon glyphicon-share"></span>&nbsp Logout</a></li>
</ul>
<div id="language_id" class="language1">
  <form method="post" action="/blogu/edit_language/">
    
<h4>Choose prefered language : </h4>
  <input type="radio" name="language" value="1"> English<br>
  <input type="radio" name="language" value="2"> Hindi<br>
  <input type="radio" name="language" value="3"> Both<br><br>
  <input type="button" value="Set" id="edit_lang">
</form>
</div>
</div>
<div id="d2">
{% for tag in followed_tags %}
<span class="data">{{ tag.name }}</span>,
{% endfor %}
</div>
<div id="d3"><span class="data">No of followers : {{ userprofile_follow.no_followed }}</span><br><br>
  {% for up_follow in followers %}
<img style="height:50px;width:50px;-webkit-border-radius:50% 50%;" src="{{ up_follow.userprofile.userprofile.picture.url }}"> &nbsp &nbsp
<span class="data">{{ up_follow.userprofile.username }}</span><br /><hr><br />
{% endfor %}
</div>
<div id="d4">{% for up in followed_list %}
<img style="height:50px;width:50px;-webkit-border-radius:50% 50%;" src="{{ up.picture.url }}"> &nbsp &nbsp
<span class="data">{{ up.user }}</span><br /><hr><br />
{% endfor %}<div style="height:40px;background:rgb(210,217,236);margin:-20px;"></div></div>
<div id="d5">
  About the user
</div>
</div>
</div>
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
  <script src="{% static "js/blogu-jquery.js" %}"></script>
{% endblock %}