{% extends 'blogu/base.html' %}
{% load staticfiles %}
{% block body_block %}
	    {% if user.is_authenticated %}
		{% else %}
		{% endif %}
		
		{% if blogs %}
                {% for blog,b_time in zipped_data %}
               
                    <p style='text-align:left;'>{{ blog.category }}</p>
                    <span style='float:right;'>{{ b_time }}</span>
               
                <p class='text-left'> -{{ blog.written_by }}</p>
                <h3><a href="{% url 'blog' blog.slug %}"><strong>{{ blog.title }}</strong></a></h3>
                <p>{{ blog.text }}</p>
                <br/>
                {{ blog.likes }} like(s)
                {% if user.is_authenticated %}
                        <button id="blog_like" data-blogid="{{ blog.id }}" class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-thumbs-up"> </span>
                        Like</button>
                    {% endif %}
                <br/>
                <br/>
                <hr noshade size=9>
                {% endfor %}
		{% else %}
		    <strong>There are no blogs present.</strong>
		{% endif %}
		
{% endblock %}
