{% extends 'blogu/base2.html' %}
{% load staticfiles %}
{% block body_block %}
<style type="text/css">
body
{
	width:100%;
	text-align: center;
	display: -webkit-box;
	-webkit-box-pack:center;
	background: rgb(210,217,236);
}
.body_div
{
	position:absolute;
	top:150px;
	left:50%;
	margin-left: -340px;
	background: rgb(70,94,170);
	width:680px;
	height:450px;
	padding: 15px;
	color:white;
	font-size: 16px;
	-webkit-border-radius:10px;
}
#form1
{
	z-index: -10;
}
#form2
{
	padding-top: 50px;
}
input
{
	padding: 1px 3px 1px 3px;
	color: black;
}
input[type="number"]
{
	width:70px;
}
h2
{
	/*font-family: ;*/
}
</style>
<h2>Make your profile</h2>
<form method="post" action="/blogu/next_step.html/">
<div id="form1" class="body_div">
	<h3>Your prefered categories :</h3>
	{% for c in cat_list %}
	{{ c.name }} <input type="checkbox" name="category" value="{{ c.id }}"> &nbsp
	{% endfor %}<br><br>
	<h3>Choose prefered language : </h3><input type="radio" name="language" value="1"> English<br>
	<input type="radio" name="language" value="2"> Hindi<br>
	<input type="radio" name="language" value="3"> Both<br><br>
	<input type="button" value="BACK" id="back"> &nbsp<input type="submit" value="Submit">
</div>
<div id="form2" class="body_div">
	<input type="text" placeholder="Email" name="email" value="{{ email }}"><br><br>
	<input type="text" placeholder="Name" name="name" value="{{ name }}"><br><br>
	Date of Birth : &nbsp Date: <input type="number" name="dob_date"> Month: <input type="number" name="dob_month"> Year: <input type="number" name="dob_year"><br><br>
	Profile picture: <input type="file" name="picture"><br>
	<input type="text" placeholder="Describe yourself in a line" name="profile_tag"><br><br>
	<input type="button" id="next" style="color:black;" value="NEXT">
</div>
</form>
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script type="text/javascript">
    $('#next').click(function(){
    	$('#form2').css("z-index","-100");
    });
    $('#back').click(function(){
    	$('#form2').css("z-index","100");
    });
    </script>
{% endblock %}
