{% if userprofiles %}
{% load staticfiles %}
<style type="text/css" rel="stylesheet">
#wrapper
{
	overflow:hidden;
	width:150px;
	height:100px;
	position: relative;
}
.follow_div
{
	width:150px;
	height:100px;
	margin: 0;
	padding: 15px;
	position: absolute;
	background: white;
	-webkit-border-radius:5px;
	font-weight: bold;
}
.btn-primary
{
	padding:2px;
	font-size: 14px;
}
</style>
<font style="font-size:14px;font-weight:bold;">Follow:</font>
<div id="wrapper">
	<div class="follow_div">No more to follow.</div>
	{% for up in userprofiles %}
	    <div id="{{ up.id }}" class="follow_div">{{ up.name }}<br><br>
      	<button class="follow_user btn btn-primary" data-userprofileid="{{ up.id }}" type="button">Follow</button>&nbsp<button type="button" class="skip btn btn-primary" data-userprofileid="{{ up.id }}">Skip</button>
  		</div>
	{% endfor %}
</div>
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
	<script src="{% static "js/blogu-jquery.js" %}"></script>
{% endif %}
