@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
::-webkit-scrollbar,-moz-scrollbar,-o-scrollbar,scrollbar { 
    display: none; 
}
*
{
	-ms-overflow-style:none;
}
#navbar-brand-id
{
	padding: 0;
	padding-left: 10px;
}
#navbar-brand-id > img
{
	height:55px;
	margin:0;
}
.navbar-nav>li>a:link
{
	color:white;
	margin-right:5px;
	margin-left: 5px;
	font-family: sans-serif;
	padding-bottom: 16px;
	border-bottom: 4px solid rgb(254,254,254);
	background: rgb(55,75,136);
}
.navbar-nav>li>a:visited
{
	color:white;
	border-bottom: 4px solid rgb(254,254,254);
}
.navbar-nav>li>a:hover
{
	text-decoration: none;
}
.navbar-nav>li>a:active
{
	color:white;
}
.search-query
{
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-ms-border-radius:7px;
	-o-border-radius:7px;
	border-radius:7px;
	padding:3px;
}
#featured_blogs>.nav-sidebar>li>a:link
{
	color:rgb(50,50,50);
	background: transparent;
	padding: 10px 10px 10px 10px;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	margin:10px 0 10px 0;
	font-size: 14px;
	font-family: 'Ubuntu',arial;
	font-weight: 600;
}
#featured_blogs>.nav-sidebar>li>a:hover
{
	color:black;
}
#featured_blogs>.nav-sidebar>li>a:visited
{
	color:rgb(50,50,50);
	background: transparent;
	padding: 20px 20px 20px 20px;
	border:none;
	margin:10px 0 10px 0;
}
.navbar-nav input[type]
{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	border-radius:10px;
	margin: 15px 10px 10px 5px;
	padding: 0 0 0 5px;
	font-family: arial;
}
.navbar-nav span
{
	font-weight: bold;
	color:white;
}
#logout:link
{
	color:white;
	margin-right:5px;
	margin-left: 5px;
	font-family: sans-serif;
	padding-bottom: 16px;
	border-bottom: 4px solid rgb(254,254,254);
	background: rgb(55,75,136);
}
#logout:visited
{
	color:white;
	border-bottom: 4px solid rgb(254,254,254);
}
#logout:hover
{
	text-decoration: none;
}
#logout:active
{
	color:white;
}
#search_results
{
	background: rgb(220,227,246);
	color: black;
	position: absolute;
	left:35px;
	text-align: left;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	overflow:scroll;
}
#search_results li
{
	padding:5px 10px 5px 10px;
}
#search_top_div
{
	display: -webkit-box;
	padding-left: 20px;
	margin-top: 15px;
	color:white;
	font-weight: bold;
}
#search_top_div input
{
	padding: 0 5px 0 5px;
	-webkit-border-radius:10px;
	width: 400px;
	color:black;
	font-weight: normal;
}
#search_results a:hover
{
	text-decoration: none;
}
#share:link
{
background: rgb(0,123,255);
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
color:white;
font-weight: bold;
padding: 3px;
}
#share:hover
{
	background: blue;
	text-decoration: none;
}
#share:visited
{
	color:white;
}
.pro_pic_2
{
	height:30px;
	width:30px;
	-webkit-border-radius:50% 50%;
	-moz-border-radius:50% 50%;
	border-radius:50% 50%;
}
.django-ckeditor-widget
{
	border:none;
}