@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
::-webkit-scrollbar,-moz-scrollbar,-o-scrollbar,scrollbar { 
    display: none; 
}
*
{
	-ms-overflow-style:none;
}
#navbar-brand-id
{
	padding: 0;
	padding-left: 10px;
}
#navbar-brand-id > img
{
	height:55px;
	margin:0;
}
.navbar-nav>li>a:link
{
	color:white;
	margin-right:5px;
	margin-left: 5px;
	font-family: sans-serif;
	padding-bottom: 16px;
	border-bottom: 4px solid rgb(254,254,254);
	background: rgb(55,75,136);
}
.navbar-nav>li>a:visited
{
	color:white;
	border-bottom: 4px solid rgb(254,254,254);
}
.navbar-nav>li>a:hover
{
	text-decoration: none;
}
.navbar-nav>li>a:active
{
	color:white;
}
.search-query
{
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-ms-border-radius:7px;
	-o-border-radius:7px;
	border-radius:7px;
	padding:3px;
}
#featured_blogs>.nav-sidebar>li>a:link
{
	color:rgb(50,50,50);
	background: transparent;
	padding: 10px 10px 10px 10px;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	margin:10px 0 10px 0;
	font-size: 14px;
	font-family: 'Ubuntu',arial;
	font-weight: 600;
}
#featured_blogs>.nav-sidebar>li>a:hover
{
	color:black;
}
#featured_blogs>.nav-sidebar>li>a:visited
{
	color:rgb(50,50,50);
	background: transparent;
	padding: 20px 20px 20px 20px;
	border:none;
	margin:10px 0 10px 0;
}
.navbar-nav input[type]
{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	border-radius:10px;
	margin: 15px 10px 10px 5px;
	padding: 0 0 0 5px;
	font-family: arial;
}
.navbar-nav span
{
	font-weight: bold;
	color:white;
}
#logout:link
{
	color:white;
	margin-right:5px;
	margin-left: 5px;
	font-family: sans-serif;
	padding-bottom: 16px;
	border-bottom: 4px solid rgb(254,254,254);
	background: rgb(55,75,136);
}
#logout:visited
{
	color:white;
	border-bottom: 4px solid rgb(254,254,254);
}
#logout:hover
{
	text-decoration: none;
}
#logout:active
{
	color:white;
}
#search_results
{
	background: rgb(220,227,246);
	position: absolute;
	top:45px;
	left:25px;
	text-align: left;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}
#search_results li
{
	padding:5px 10px 5px 10px;
}
#profile_data
{
	opacity:0;
	z-index:-3;
	-webkit-box-shadow:-4px 4px 6px gray;
	-moz-box-shadow:-4px 4px 6px gray;
	-ms-box-shadow:-4px 4px 6px gray;
	-o-box-shadow:-4px 4px 6px gray;
	box-shadow:-4px 4px 6px gray;
	position: absolute;
	top:100px;
	left:30%;
	width:500px;
	height:0;
	background: red;
	overflow: hidden;
