@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/*@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700italic);*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
/*@import url(https://fonts.googleapis.com/css?family=Vollkorn:700);*/
@import url(https://fonts.googleapis.com/css?family=Itim);
/*@import url(https://fonts.googleapis.com/css?family=Rhodium+Libre);*/
body
{
	padding:40px;
}
a.blog_title:link
{
	color:black;
	font-family: 'Ubuntu', sans-serif;
}
a.blog_title:hover
{
	text-decoration: none;
}
a.blog_title:visited
{
	color:black;
}
a.blog_title:active
{
	color:black;
}
.blog_text
{
	color:rgb(75,75,75);
	font-family:'Itim',arial;
	font-weight:normal;
	font-size: 16px;
	letter-spacing: 1px;
}
.blog_text::first-letter
{
	font-size: 20px;
	font-weight: bold;
}
h2
{
	font-family: 'Montserrat',tahoma,arial;
	font-weight: 700;
	color:rgb(75,75,75);
	letter-spacing: 1px;
}
h1
{
	color:black;
	font-family:'Ubuntu',arial;
}

#quick_blog
{
	margin-top: 20px;
}
#quick_blog textarea
{
	padding-left: 5px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	-ms-border-radius:7px;
	border-radius:7px;
	resize:none;
	font-size: 16px;
}
#quick_blog button
{
	color: white;
	font-weight: bold;
	background: rgb(70,94,170); 
	margin-top: 5px;
}
#quick_blog span
{
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 18px;
}
#blog_like,#category_like
{
	padding: 3px;
	font-size:13px;
	background: rgb(0,123,255);
	border:none;
	font-weight: bold;
}
#blog_like:hover,#category_like:hover
{
	background: blue;
}
#comment
{
	background: rgb(0,123,255);
	border:none;
	font-weight: bold;
}
#comment:hover
{
	background: blue;
}
#share:link
{
background: rgb(0,123,255);
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
color:white;
font-weight: bold;
padding: 3px;
}
#share:hover
{
	background: blue;
	text-decoration: none;
}
#share:visited
{
	color:white;
}
#cat:hover
{
text-decoration: none;
}
#written_by:link
{
	font-weight: bold;
	color:gray;
}
a#written_by:hover
{
	color: black;
	text-decoration: none;
}
#written_by:visited
{
	color:gray;
}
.text_div
{
	padding: 10px;
	margin-bottom:20px;
}
.active_text
{
	height:150px;
	overflow: hidden;
}
.pro_pic
{
	height:50px;
	width:50px;
	-webkit-border-radius:50% 50%;
	-moz-border-radius:50% 50%;
	border-radius:50% 50%;
}