@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/*@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700italic);*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
/*@import url(https://fonts.googleapis.com/css?family=Vollkorn:700);*/
@import url(https://fonts.googleapis.com/css?family=Itim);
/*@import url(https://fonts.googleapis.com/css?family=Rhodium+Libre);*/
a.blog_title:link
{
	color:black;
	font-family: 'Ubuntu', sans-serif;
}
a.blog_title:hover
{
	text-decoration: none;
}
a.blog_title:visited
{
	color:black;
}
a.blog_title:active
{
	color:black;
}
.blog_text
{
	color:rgb(100,100,100);
	font-family:'Itim',arial;
	font-weight:normal;
	font-size: 16px;
	letter-spacing: 1px;
}
.blog_text::first-letter
{
	font-size: 20px;
	font-weight: bold;
}
h2
{
	font-family: 'Montserrat',tahoma,arial;
	font-weight: 700;
	color:rgb(75,75,75);
	letter-spacing: 1px;
}
h1
{
	color:black;
	font-family:'Ubuntu',arial;
}