{% extends 'blogu/base.html' %}
{% load staticfiles %}
{% block title %} {{ category_name }} {% endblock %}
{% block body_block %}
    <h2>{{ category_name }}</h2>
		<p>
		<strong id="category_like_count">{{ category.likes }} </strong> people like this category
		{% if user.is_authenticated %}
		     <button id="category_like" data-catid="{{ category.id }}" class="btn btn-primary" type="button">
			 <span class="glyphicon glyphicon-thumbs-up"> </span>
			 Like</button>
	    {% endif %}
		</p>
		<br/>
		<br/>
		<div id="blog">
		{% if category %}
		    {% if zipped_data %}
			<u1>
			    {% for blog,b_time in zipped_data %}
				    <span style='float:right;'>{{ b_time }}</span>
                    <h3><a href="{% url 'blog' blog.slug %}"><strong>{{ blog.title }}</strong></a></h3>
                    <p class='text-left'> -{{ blog.written_by }}</p>
                    <p>{{ blog.text }}</p>
                    <br/>
                    <strong id=blog_like_count>{{ blog.likes }}</strong>
                    <strong> likes</strong>
                    {% if user.is_authenticated %}
		                <button id="blog_like" data-blogid="{{ blog.id }}" class="btn btn-primary" type="button">
			            <span class="glyphicon glyphicon-thumbs-up"> </span>
			            Like</button>
	                {% endif %}
		
                    <br/>
                    <br/>
                    <hr noshade size=9>
                {% endfor %}
			</u1>
		    {% else %}
		        <strong>No blogs currently in category</strong>
	        {% endif %}
		</div>
			<br/>
	
		{% else %}
	        The specified category {{ category_name }} does not exist!
	    {% endif %}
	    
{% endblock %}